@use 'base/mixins' as m;
@use 'base/variables' as v;

/*alineacion horizontal cajas*/

.cajas{
    display:flex;
    justify-content:space-evenly;
}

/*.cajas .caja{
     
    medidas sin rango de las cajas
    background: var(--green);
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px; 
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);  sombra alrededor de la caja
}*/

/*medidas y alineacion imagen interna de las cajas*/
.cajas .caja img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 6px solid v.$lead;
    border-radius : 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    margin-bottom: 10px;
    display: block;
}


/*tamaño cajas centro eleccion*/
.cajas .caja{
    height: 50%;
    width: 35%;
    background-color: transparent;
    border: none;
    border-bottom: 10px solid v.$border-color;
    color: v.$tex-white;
    font-size: 16px;
}

.cajas .caja  p {
    font-weight: 100;
    padding-top: 10px;
}
.cajas .caja h4{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.cajas .caja p{
    text-align: center;
    padding-bottom: 10px;
}
.cajas .caja .clic-boton{
    padding-top: 30px;
    text-align: center;
}
/*MARCO CAJAS*/
.cajas .caja{
    margin-top: 70px;
    border-color: v.$crema;
    border: 10px solid v.$border-color;
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: v.$blur;
    
}

/* boton aspectos*/

.contenedor_cajas .boton{
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right, v.$green, v.$lead);
    border: none;
    color: v.$tex-white;
    position: relative;
    z-index: 1;
    overflow: hidden;   
}

.boton ::after{
    color: v.$tex-white;
}

.contenedor_cajas .boton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; 
    transition: background-color 0.5s ease;
    z-index: -1;
}

.contenedor_cajas .boton:hover::before{
    background-color: v.$button-hover-color;
}


//BOTON VOLVER DEL AREA DE CREAR EN ADMIN
 .boton-volver{

    font-weight: 700;
    text-decoration: none;
    display:flex;
    justify-content: center;     
  
    margin: auto;
    max-width: 700px;
    margin-top: 10px;
    }

//BOTON ELIMINAR AREA DE ADMIN

.boton-rojo-block {
    background: linear-gradient(to right, v.$rojo, v.$lead);
    border-radius: 5px;
    width: 80%;
    height: fit-content;
    border: v.$rojo;
    color: v.$tex-white;
    font-size: 20px;
    padding : 2px ;
}
.w-100{
    width: 100%;
}
.boton-rojo-block{
    
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 2px
}
/*efecto boton crear*/
.boton-rojo-block::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; 
    transition: background-color 0.5s ease;
    z-index: -1;
}
.boton-rojo-block:hover::before {
    background-color: v.$button-hover-color;
}


.boton-green-block {
    background: linear-gradient(to right, v.$lead, v.$green);
    border-radius: 5px;
    width: 80%;
    display: flex;
    align-items: center;
    color: v.$tex-white;
    text-decoration: none;
}

.boton-green-block{
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
/*efecto boton crear*/
.boton-green-block::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; 
    transition: background-color 0.5s ease;
    z-index: -1;
}
.boton-green-block:hover::before {
    background-color: v.$button-hover-color;
}



