@use 'variables' as v;

//MARGENES COMPLETAS DE PAGINA 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow: scroll; //habilita el scroll en la pagina web
    ::-webkit-scrollbar {display: none;} //oculta o pone transparante la barra de scroll en la pagin web
}

.contenedor .seccion{
    display:block;
    justify-content: center;
    width: 90%;
    background-color:transparent;
    backdrop-filter: v.$blur;
    border-radius: 15px;
    margin:auto;
    margin-bottom: 5px;
    
}

#tablaAprendiz{
    width:auto;
    background-color:transparent;
    border: 10px solid v.$border-color;
    border-radius: 15px;
    th{
        border: 2px solid v.$border-color;
        padding: 5;
    }
    
}
#tablaIdentificacion{
    width:auto;
    background-color:transparent;
    border: 10px solid v.$border-color;
    th{
        border: 2px solid v.$border-color;
        padding: 5;
    }
}
#tablaPrograma{
    width:auto;
    background-color:transparent;
    border: 10px solid v.$border-color;
    th{
        border: 2px solid v.$border-color;
        padding: 5;
    }
}



/*Contenedor formulario medidas*/

.contenedor_formulario {
    width: 100%;
    height: 100%;
    padding: 40px;
}
/*Titulo Plataforma de Ingreso*/
.formulario h3 {
    // font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: v.$tex-white;
    font-weight: 500;
} 
/*margenes contenido central formulario*/
.formulario {
    max-width: 1900px;
    height: 100%;
    margin: auto;
    padding: auto;
}

/*formulario alineacion*/

.formulario {
    min-height:700px;
    padding: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
} 
/*dimenciones del contenido formulario*/
.formulario .cuadro {
    border-color: v.$crema;
    border: 10px solid v.$border-color;
    padding: 10px 2px ;
    border-radius: 40px;
    backdrop-filter: v.$blur;
    width: 450px;
    height: auto;
    // box-shadow: 0 0 26px rgba(0, 0, 0, .6);
}

/*margenes dentro formulario del cuadro*/
.formulario .cuadro form {
    margin: 20px  ;
} 
/*espacio entre texto y texto*/
.cuadro .input-box {
    margin: 0px;
    padding: 5px;
} 

.formulario .cuadro ::placeholder {
    color: inherit;
    opacity: 1;
} 


// diseño formulario crear ofertas

.formulario-oferta fieldset {
    border-color: v.$crema;
    border: 5px solid v.$border-color;
}

.cuadro .input-control {
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid v.$border-color;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
}

.cuadro .input-control:focus {
    outline: none;
}

.cuadro .input-link {
    margin-top: 10px;
    text-align: center;
}
/*cuadros de ingreso de datos*/
.cuadro .input-control {
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid v.$border-color;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
}

.cuadro .input-control:focus {
    outline: none;
}

.cuadro .input-link {
    margin-top: 10px;
    text-align: center;
} 
/*boton crear cuenta diseño*/
.cuadro .boton {
    height: 45px;
    width: 80%;
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right, v.$green, v.$lead);
    border: none;
    color: v.$tex-white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 10px 30px;
}
/*efecto boton crear*/
.cuadro .boton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; 
    transition: background-color 0.5s ease;
    z-index: -1;
}
.cuadro .boton:hover::before {
    background-color: v.$button-hover-color;
}
.formulario a {
    text-align: center;
    justify-content: space-between;
    margin-left: 30px; 
}
.formulario p {
    text-align: center;
    padding: 25px;
}


@media screen and (max-width : 1900px){
header {
padding: 0.5px;
}
}

/*responsive*/

@media screen and (max-width : 768px) {
    
.logo img {
width: 120px;
display: flex;
align-items: center;
} 
.menu nav {
position: fixed;
top: 0;
right: -250px;
background:v.$gris;
width: 250px;
height: 100vh;
padding: 40px;
z-index: 1;
transition: all 300ms;
}
.menu ul{
flex-direction: column;
margin-top: 40px;
}
.menu ul li {
margin-top: 30px;
margin-left: 0 ;
}
.menu ul li a{
color: v.$tex-white;
}
.menu nav img {
display: block;
width: 80px;
}
#mini_menu{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-color: rgba(66, 134, 31, 0.637);
display: none;
}
.menu #boton_minimenu{
display: flex;
align-items: center;
justify-content: center;
width: 50px;
height: 50px;
background: rgba(255, 255, 255, 0.1);
font-size: 24px ;
border-radius: 50px;
cursor: pointer;
transition: all 300ms;
}
.menu #boton_minimenu:hover{
background: rgba(179, 102, 102, 0.2);
}

}

