@use 'base/variables' as v;



table.aprendiz {
    margin-top: 1rem;
    width: 100%;
    border-spacing: 0;

    thead{
        background-color: v.$gris;
    }
    th { //parte gris de la tabla de consulta
        color: v.$tex-white;
        padding: 5px;       
    }
    td{
        padding: 5px;
        a{
            color: v.$tex-white;
            text-decoration: none;
            display: flex;
            justify-content: center;
        }
    }   
    .imagen-tabla{
        width: 5rem;
        border-radius: 15%;
        padding: 0;
        margin: 0; 
    }
}

.imagen-small {
    width: 10rem;
}






